@import "colors.scss";

.contact {
  width: 100%;
  height: 100vh;
  background-color: $second;
  display: flex;
  justify-content: center;
  align-items: center;

  > main {
    background-color: white;
    height: 30rem;
    width: 70%;
    padding: 3rem;
    border-radius: 25px;

    > h1 {
        font: 900 2.5rem $text1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    > form {
      margin: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > div {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: flex-end;
        // justify-content: flex-end;
        align-items: center;
        margin: 0.5rem;

        > label {
          font: 400 1.2rem $text1;
          width: 20%;
          margin: 0 0.5rem;
          letter-spacing: 2px;
        }

        > input {
          align-self: stretch;
          width: 80%;
          padding: 0 1rem;
          border-radius: 7.5px;
          border: 1px solid rgba(123, 123, 123, 0.6);
          outline: none;
          font-weight: 400;
          font-size: 16px;
        }
      }

      > button {
        margin: 3rem 0;
        padding: 0.7rem;
        border: none;
        border-radius: 5px;
        background-color: $third;
        color: white;
        width: 200px;
        font: 500 1rem $text1;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
      }
    }
  }
}
