@media screen and (max-width:820px) {

    // nav {
    //     width: 300px;
    // }

    // .home {
    //     width: 820px;
    //     height: 100vh;

    //     > div {
    //         width: 100px;
    //     }
    // }
    
    .home3{
        // width: 50%;
        height: 130vh;

        > div {
            height: 120vh;
        }
    }

    #brands > article > div{
                        padding: 1rem;
    }
    
}